<app-header subtitle="A D M I N" backButton="/auth"></app-header>
<ion-content>
    <div class="d-flex-center">
        <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
            <app-custom-input
                icon="mail-outline"
                label="Email"
                placeholder="Ingrese su correo..."
                type="email"
                [control]="form.controls.email">
            </app-custom-input>
            <div class="validators" *ngIf="form.controls.email.errors">
                <div *ngIf="form.controls.email.errors?.['required']">El email es requerido</div>
                <div *ngIf="form.controls.email.errors?.['email']">El email es requerido</div>
            </div>

            <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
                Recuperar
                <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              </ion-button>

        </form>
    </div>
</ion-content>