<app-header subtitle="A D M I N" backButton="/auth"></app-header>
<ion-content>
    <div class="d-flex-center">
        <form class="auth-form">
            <app-custom-input
                icon="mail-outline"
                label="Email"
                placeholder="Ingrese su correo..."
                type="email">
            </app-custom-input>

            <ion-button expand="block" mode="ios" class="submit" type="submit">
                Recuperar
                <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              </ion-button>

        </form>
    </div>
</ion-content>