<app-header subtitle="A D M I N"></app-header>

<ion-content>
  
  <div class="custom-add-task">
    <form [formGroup]="form" class="auth-form">
      
      <ion-text color="primary">Nueva tarea</ion-text>
      
      <app-custom-input
        type="text"
        icon="person-outline"
        label="Titulo Tarea"
        placeholder="Ingrese titulo de la tarea"
        [control]="form.controls.titulo">
      </app-custom-input>

      <app-custom-input
        type="textarea"
        icon="hammer-outline"
        label="Descripcion tarea"
        placeholder="Ingrese descripcion de la tarea"
        [control]="form.controls.descripcion">
      </app-custom-input>

      <ion-toggle [disabled]="true">¿Tarea completada?</ion-toggle>

      <app-custom-input
        type="text"
        icon="hammer-outline"
        label="Titulo trabajo"
        placeholder="Ingrese el titulo de trabajo">
      </app-custom-input>

      <ion-item mode="ios">
        <ion-select label="Estado" label-placement="floating">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
      

      
    </form>
  </div>

</ion-content>