<app-header
  title="Tareas"
  subtitle="A D M I N">
</app-header>

<ion-content>
  <app-custom-input
    type="text"
    icon="people-circle-outline"
    label="Encargado"
    placeholder="Ingrese encargado">
  </app-custom-input>

  <app-custom-input
    type="text"
    icon="person-outline"
    label="Persona asignada"
    placeholder="Ingrese persona asignada">
  </app-custom-input>

  <app-custom-input
    type="text"
    icon="hammer-outline"
    label="Titulo trabajo"
    placeholder="Ingrese el titulo de trabajo">
  </app-custom-input>

  <app-custom-input
    type="textarea"
    icon="hammer-outline"
    label="Descripcion tarea"
    placeholder="Ingrese descripcion de la tarea">
  </app-custom-input>

</ion-content>