<app-header subtitle="A D M I N"></app-header>

<ion-content>
    <div class="content ion-text-center">
  
        <ion-icon class="avatar" name="person-circle-outline"></ion-icon>
        <h2>{{userTemp.name}}</h2>
        <div>{{userTemp.email}}</div>
    
    </div>

    <ion-button (click)="signOut()" shape="round">
        Cerrar Sesión
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="updateOrDelUser(userTemp)" shape="round">
        Modificar
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-button>

</ion-content>


